doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Havyt - Fast APIs with Fastify
        meta(name="description", content="Fast APIs with Fastify")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
        link(rel="stylesheet", href="/public/css/index.css")
    body
        form(class="form")
            fieldset
                legend Sign In
                div(class="field-group")
                    label(for="email") Email
                    input(type="email", class="input", id="email", placeholder="email")
                    small(class="field-message") This is a required field
                div(class="field-group")
                    label(for="password") Password
                    input(type="password", class="input", id="password", placeholder="Password")
                button(type="submit", class="button") Sign In
