<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Havyt - Fast APIs with Fastify</title>
    <meta name="description" content="Fast APIs with Fastify">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff" >
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <form class="form">
        <fieldset>
            <legend>Sign In</legend>
            <div class="field-group">
                <label for="email">Email</label>
                <input class="input" type="email" id="email" placeholder="Email" />
                <small class="field-message">This is a required field.</small>
            </div>
            <div class="field-group">
                <label  for="password">Password</label>
                <input class="input" type="password" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="button">Sign in</button>
        </fieldset>
    </form>
</body>
</html>
