doctype html
html(lang="en")
    include layout/head
    body
        form(class="form")
            fieldset
                legend Sign In
                div(class="field-group")
                    label(for="email") Email
                    input(type="email", class="input", id="email", placeholder="email")
                    small(class="field-message") This is a required field
                div(class="field-group")
                    label(for="password") Password
                    input(type="password", class="input", id="password", placeholder="Password")
                button(type="submit", class="button") Sign In
