doctype html
html(lang="en")
    include /layout/head
    body
        h2 Havyt
        blockquote(class="promo")
        p
            a(href="/auth", class="button"  title="log in...") Log-in
            and add new recipes, or like the existing ones
        div(id="app")
            ul
                each recipe in recipes
                    li= recipe.name
        //- no CSR, it ain't fast for me
        //- script(src="/public/js/app.js", type="module")
